---
import Layout from '../layouts/Layout.astro';
import ButtonRipple from '../components/WaterRippleButton.astro';
import RipplePlayButton from '../components/WaterRippleButton.astro';
import PlayRipple from '../components/PlayRipple.astro';

---

<Layout title="Home">
	<h1>Halaman about</h1>
	 <PlayRipple />
</Layout>

<style>
	body {
		/* background-color: black; */
	}
</style>



