---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Yifang - Academy">
    <h1 class=" text-yfred">Yifang - academy</h1>
</Layout>
<style>
	body {
		background-color: black;
	}
</style>